testing-stuff/schemas/AccessProfile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  targetNamespace="http://cufxstandards.com/v3/AccessProfile.xsd"
  version="3.2.$Revision: 1000 $"
  xmlns="http://cufxstandards.com/v3/AccessProfile.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:party="http://cufxstandards.com/v3/Party.xsd"
  xmlns:isoCountryCodeType="http://cufxstandards.com/v3/ISOCountryCodeType-V2006.xsd"
  xmlns:relationship="http://cufxstandards.com/v3/Relationship.xsd"
  xmlns:credentialGroup="http://cufxstandards.com/v3/CredentialGroup.xsd"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <xs:import namespace="http://cufxstandards.com/v3/Party.xsd" schemaLocation="Party.xsd" />
  <xs:import namespace="http://cufxstandards.com/v3/ISOCountryCodeType-V2006.xsd" schemaLocation="ISOCountryCodeType-V2006.xsd" />
  <xs:import namespace="http://cufxstandards.com/v3/Relationship.xsd" schemaLocation="Relationship.xsd" />
  <xs:import namespace="http://cufxstandards.com/v3/CredentialGroup.xsd" schemaLocation="CredentialGroup.xsd" />

  <xs:element name= "accessProfileList" type ="AccessProfileList">
    <xs:annotation>
      <xs:documentation>
        The access profile collection/array contains all the access profiles, for instance, that the credential set is
        authorized to access at the Institution based on applied filters.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="AccessProfileList">
    <xs:annotation>
      <xs:documentation>
        The access profile collection/array contains all the access profiles, for instance, that the credential set is
        authorized to access at the Institution based on applied filters.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="accessProfile" type="AccessProfile" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            The access profile is a collection of attributes that describe the device used to access an application.
            This profile may describe a mobile phone, laptop, personal computer, IVR system, or other.
          </xs:documentation>
        </xs:annotation>
      </xs:element >
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccessProfile">
    <xs:sequence>
      <xs:element name="accessProfileId" type="AccessProfileId"  >
        <xs:annotation>
          <xs:documentation>
            An identification descriptor that identifies the access profile.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="actor" type="Actor"  >
        <xs:annotation>
          <xs:documentation>
            The person, place or thing that is accessing the application.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="language" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The language that the client application is presenting.
            Don't restrict to ISO language standard collected from remote system.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="locale" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The country where the client application originates.
            Don't restrict to ISO country code standard collected from remote system.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="characterEncoding" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The browser's character encoding.  Some examples are UTF-8, UTF-16, and Unicode.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="createAccessDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The date and time this profile was created.
            The date/time should be ISO 8601 UTC format.
            yyyy-mm-ddThh:mmZ (2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28)
            formats are supported.  The time is assumed to be 00:00Z if omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="savedAccessProfile" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This attribute indicates a profile that the user wants to remember as safe.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="softwareClient" type="SoftwareClient">
        <xs:annotation>
          <xs:documentation>
            The software client information.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="device" type="Device">
        <xs:annotation>
          <xs:documentation>
            The device information.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="AccessProfileId">
    <xs:restriction base="xs:string">
      <xs:annotation>
        <xs:documentation>
          The unique ID associated with a message or group of messages.
        </xs:documentation>
      </xs:annotation>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="AccessProfileIdList">
    <xs:annotation>
      <xs:documentation>
        The access profile collection/array contains all the access profiles, for instance, that the credential set is
        authorized to access at the Institution based on applied filters.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="accessProfileId" type="AccessProfileId" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            The access profile ID list is a collection of attributes that describe the device used to access an application.
            This profile may describe a mobile phone, laptop, personal computer, IVR system, or other.
          </xs:documentation>
        </xs:annotation>
      </xs:element >
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Actor">
    <xs:choice>
      <xs:element name="fiUserId" type="credentialGroup:FiUserId" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The user allowed to perform the action.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="partyId" type="party:PartyId" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The party allowed to perform the action.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="relationshipId" type="relationship:RelationshipId" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The relationship allowed to perform the action.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="SoftwareClient">
    <xs:annotation>
      <xs:documentation>
        The software client information profile, i.e. user agent information or other software information.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="softwareClientId" type="SoftwareClientId" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The unique software client information identifier.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="rawSoftwareClientDetail" type="xs:string" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>
            This is a collection of data from the client system that is accessing the host application.
            If the user string is present, this can hold the full/unedited user agent string or other identifying text.
            Some of the information in this field may be parsed to populate fields below.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="browserName" type="xs:string" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>
            The name of the browser, if a browser is used to run client application.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="browserVersion" type="xs:string" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>
            The version of the browser, if a browser is used to run client application.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="operatingSystemName" type="xs:string" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>
            The name of the operating system.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="operatingSystemVersion" type="xs:string" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>
            The version of the operating system.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="SoftwareClientId">
    <xs:restriction base="xs:string">
      <xs:annotation>
        <xs:documentation>
          The unique software client information identifier.
        </xs:documentation>
      </xs:annotation>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Device">
    <xs:annotation>
      <xs:documentation>
        The device information profile that is accessing the system information.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="deviceId" type="DeviceId" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The unique device identifier.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="deviceType" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            A text description of the device or channel used to access application.  
            This may be mobile, personal computer, or other.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="deviceName" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The name associated with the device accessing the application.  
            This may be a device name assigned by the operating system.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="rawDeviceDetail" type="xs:string" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>
            This is a collection of data about the device from the client system that is accessing the host application.
            The device might be a tablet, mobile phone, computer, or phone number in the case of IVR system.
            Some of the information in this field may be parsed to populate fields below.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="ipAddress" type="xs:string" minOccurs="0" maxOccurs="1" >
        <xs:annotation>
          <xs:documentation>
            The originating IP address.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="manufacturer" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The name associated with the device accessing the application.  
            This may be a device name assigned by the operating system.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="DeviceId">
    <xs:restriction base="xs:string">
      <xs:annotation>
        <xs:documentation>
          The unique device identifier.
        </xs:documentation>
      </xs:annotation>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
