testing-stuff/schemas/BillPayee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
   targetNamespace="http://cufxstandards.com/v3/BillPayee.xsd"
	version="3.2.$Revision: 1000 $"
	xmlns="http://cufxstandards.com/v3/BillPayee.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:common="http://cufxstandards.com/v3/Common.xsd"
	xmlns:relationship="http://cufxstandards.com/v3/Relationship.xsd"
	xmlns:contact="http://cufxstandards.com/v3/Contact.xsd"
	xmlns:account="http://cufxstandards.com/v3/Account.xsd"
	xmlns:party="http://cufxstandards.com/v3/Party.xsd"
  
   
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xs:import namespace="http://cufxstandards.com/v3/Common.xsd" schemaLocation="Common.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/Relationship.xsd" schemaLocation="Relationship.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/Contact.xsd" schemaLocation="Contact.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/Account.xsd" schemaLocation="Account.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/Party.xsd" schemaLocation="Party.xsd" />

	<xs:element name= "billPayeeList" type ="BillPayeeList">
		<xs:annotation>
			<xs:documentation>
				The bill payee collection/array contains all the payees, for instance, that the credential set is
				authorized to access at the Institution based on applied filters.
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="BillPayeeList">
		<xs:annotation>
			<xs:documentation>
				The bill payee collection/array contains all the payees, for instance, that the credential set is
				authorized to access at the Institution based on applied filters.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="billPayee" type="BillPayee" minOccurs="0" maxOccurs="unbounded">
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BillPayee">
		<xs:sequence>
			<xs:element name="billPayeeId" type="BillPayeeId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						An ID that uniquely identifies the bill payee for the consumer.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="billPayeeGlobalId" type="BillPayeeGlobalId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The bill payee global ID is a persistent and unique identifier for the bill payee in bill pay system.
						This bill payee global ID does not change for consumer to consumer.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="payeeName" type="xs:string"   minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						If a person, the first and last name of the person. If a business or trust, will include the business or trust name.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="payeeAddress" type="contact:ContactAddress" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						List of contact points for the bill payee.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="payeePhone" type="contact:Phone" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						List of contact points for the bill payee.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="payeeEmail" type="contact:Email" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						List of contact points for the bill payee.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="processorName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						A name that uniquely identifies the processor of the bill payee.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="payeeACHRoutingNumber" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The ACH routing number for the payee.  Usually used when the funds are transfered electronically.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="payeeACHAccountNumber" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The ACH account number for the payee.  Usually used when the funds are transfered electronically.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="isElectronic" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						True for electronic processing of payments. False for sending a paper check.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="isEBillProvider" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						True for payees that are providing ebills. False for payees that send a paper bill.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="isEBillEnrolled" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						True for parties that are signed up for ebills for this payee. False if the party is not enrolled for ebill processing.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="addedDateTime" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The Date Added is the date that the Bill Payee was added to the system by the member.
						The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ (2011-03-28T12:00Z)
						or yyyy-mm-dd (2011-03-28) formats are supported. The time is assumed to be 00:00Z if
						omitted.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="updatedDateTime" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The Date Updated is the date that the Bill Payee was last updated by the member.
						The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ (2011-03-28T12:00Z)
						or yyyy-mm-dd (2011-03-28) formats are supported. The time is assumed to be
						00:00Z if omitted.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="minimumDaysToPay" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						This is the minimum number of business days a payment must be scheduled in advance
						for the payee to receive payment in time.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="partyId" type="party:PartyId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						ID of party related to payee.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="relationshipId" type="relationship:RelationshipId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						ID of relationship related to payee.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="accountId" type="account:AccountId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						ID of account related to payee.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="userDefinedName" type="xs:string"   minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The user-defined name for payee.  Could be a nickname.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="payeeAccountNumber" type="xs:string"   minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The payee assigned account number associated with a member.  The number could be printed
						on a check or included in a memo.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="accountHolderName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The name of the person for which the bill is being paid.  Typically this is the party name,
						however you may want to specify which party is paying the bill.  Or you may want to pay
						on behalf of someone else who is not on the account.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="payeeCategory" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						A member defined category that can be used for reporting purposes.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="payeeStatus" type="PayeeStatus"  minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The status of the bill payee.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="defaultPaymentFromAccountId" type="account:AccountId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The default account from which the payment for this payee should be taken.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			
			<xs:element name="customData" type="common:CustomData" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Bill payee level name/data pairs list of fields that are not yet available in the general specification.
						This should be used as a LAST RESORT as any customizations will not be supported by all data providers
						or processed by all client applications. ANY use of this field must be reported to the architecture or
						working group committee to ensure that fields are somehow handled in the future	release of specifications.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="PayeeStatus">
		<xs:annotation>
			<xs:documentation>
				This is enumeration of statuses for the bill payee.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Active">
				<xs:annotation>
					<xs:documentation>
						This value indicates that the payee is active and visible to the member.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Inactive">
				<xs:annotation>
					<xs:documentation>
						This value indicates that the payee is inactive and visible to the member.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Deleted">
				<xs:annotation>
					<xs:documentation>
						This value indicates that the payee is inactive and invisible to the
						member; the payee cannot be re-activated.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Invalid">
				<xs:annotation>
					<xs:documentation>
						Some type of error has occured in the process of paying this payee and payments
						are not successfully received, please re-verify this payee.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="PayeeStatusList">
		<xs:annotation>
			<xs:documentation>
				The list of bill payee statuses that should have their associated bill payee records either returned or affected
				by a read, update or delete request.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="payeeStatus" type="PayeeStatus" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						A bill payee status that should have its associated bill payee records either returned or affected
						by a read, update or delete request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="BillPayeeId">
		<xs:restriction base="xs:string">
			<xs:annotation>
				<xs:documentation>
					The bill payee ID is a persistent and unique identifier for the bill payee of the consumer.
				</xs:documentation>
			</xs:annotation>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="BillPayeeIdList">
		<xs:annotation>
			<xs:documentation>
				The list of bill pay ID's that should have their associated bill pay records either returned or affected
				by a read, update or delete request.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="billPayeeId" type="BillPayeeId" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						A bill pay ID that should have its associated bill pay id either returned or affected
						by a read, update or delete request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="BillPayeeGlobalId">
		<xs:restriction base="xs:string">
			<xs:annotation>
				<xs:documentation>
					The bill payee global ID is a persistent and unique identifier for the bill payee in the bill pay system.
					This bill payee global ID does not change from consumer to consumer.
				</xs:documentation>
			</xs:annotation>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="BillPayeeGlobalIdList">
		<xs:annotation>
			<xs:documentation>
				The list of bill pay global ID's that should have their associated bill pay records that are global either returned or affected
				by a read, update or delete request.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="billPayeeGlobalId" type="BillPayeeGlobalId" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						A bill pay global ID that should have its associated bill pay global id either returned or affected
						by a read, update or delete request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
