testing-stuff/schemas/Contact.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
	targetNamespace="http://cufxstandards.com/v3/Contact.xsd"
	version="3.2.$Revision: 1000 $"
	xmlns="http://cufxstandards.com/v3/Contact.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:common="http://cufxstandards.com/v3/Common.xsd"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xs:import namespace="http://cufxstandards.com/v3/Common.xsd" schemaLocation="Common.xsd" />

	<xs:element name= "contactList" type ="ContactList">
		<xs:annotation>
			<xs:documentation>
				The contact list collection/array contains all the contacts, for instance, that the credential set is
				authorized to access at the Institution based on applied filters.
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="ContactList">
		<xs:annotation>
			<xs:documentation>
				The contact list collection/array contains all the contacts, for instance, that the credential set is
				authorized to access at the Institution based on applied filters.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="contact" type="Contact" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						The contact list collection/array contains all the contacts, for instance, that the credential set is
						authorized to access at the Institution based on applied filters.
					</xs:documentation>
				</xs:annotation>
			</xs:element >
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Contact">
		<xs:sequence>
			<xs:element name="contactId" type="ContactId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Unique identifier within system to uniquely identify this contact point.  On creation,
            this may be provided by the system that is submitting the request or may be blank if
            the repository calculates the contact ID and returns it in the response.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="contactType" type="ContactType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						High level category for contacting the party.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:group ref="point" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						Details on the contact point based on the contact type.
					</xs:documentation>
				</xs:annotation>
			</xs:group>

			<xs:element name="timeOfDay" type="TimeOfDayType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The best time of day to use the contact point.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="demonstratedAccess" type="DemonstratedAccess" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						A collection of fields that identifies that appropriate access has been
						demonstrated to receive information electronically for this contact point.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

      <xs:element name="badContactPoint" type="xs:boolean" minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            Has the contact point been attempted and for some reason come back as invalid.
            For instance, a bounced email, returned mail, disconnected phone, etc.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="customData" type="common:CustomData"  minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Contact level name/data pairs list of fields that are not yet available in the general specification.
						This should be used as a LAST RESORT as any customizations will not be supported by all data providers
						or processed by all client applications. ANY use of this field must be reported to the architecture or
						working group committee to ensure that fields are somehow handled in the future release of specifications.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


	<xs:group name="point" >
		<xs:choice>
			<xs:element name="address" type="ContactAddress" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Fields related to address contact points.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="phone" type="Phone" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Fields related to phone contact points when phone type is selected.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="email" type="Email" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Fields related to email contact points when email type is selected.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="instantMessage" type="InstantMessage" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Fields related to instant message contact points when instant message type is selected.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="social" type="SocialContactPoint" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Fields related to social contact points when social type is selected.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="website" type="Website" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Fields related to website contact points when website type is selected.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:group>

	<xs:complexType name="ContactAddress">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>
					Fields related to address contact points.
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="common:Address">
				<xs:sequence>
					<xs:element name="type"  minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Address Type.
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Home" />
								<xs:enumeration value="Work" />
								<xs:enumeration value="Mailing" />
								<xs:enumeration value="Previous" />
								<xs:enumeration value="Temporary">
									<xs:annotation>
										<xs:documentation>
											The temporary address overrides the home address when
											effective/expiration dates signal that temporary address
											is effective.
										</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="CTR">
									<xs:annotation>
										<xs:documentation>
											CTR (Cash Transaction Report) address is used if the
											CTR address is different than the primary address.
										</xs:documentation>
									</xs:annotation>
								</xs:enumeration >
							</xs:restriction>
						</xs:simpleType>
					</xs:element>

					<xs:element name="effectiveDateTime" type="xs:dateTime"  minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Used if address type is TEMPORARY.
								Address effective date and time.
								The date/time should be ISO 8601 UTC format.
								yyyy-mm-ddThh:mmZ (2011-03-28T12:00Z)
								or yyyy-mm-dd (2011-03-28) formats are supported.
								The time is assumed to be 00:00Z if omitted.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="expirationDateTime" type="xs:dateTime"  minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Used if address type is TEMPORARY.
								Address expiraton date and time.
								The date/time should be ISO 8601 UTC format.
								yyyy-mm-ddThh:mmZ (2011-03-28T12:00Z)
								or yyyy-mm-dd (2011-03-28) formats are supported.
								The time is assumed to be 00:00Z if omitted.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="timeAtAddress" type="xs:duration" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The duration spent at the address.
								The time interval is specified in the following form "PnYnMnDTnHnMnS" where:
								P indicates the period (required)
								nY indicates the number of years
								nM indicates the number of months
								nD indicates the number of days
								T indicates the start of a time section (required if you are going to specify hours, minutes, or seconds)
								nH indicates the number of hours
								nM indicates the number of minutes
								nS indicates the number of seconds
								Example: P5Y2M10DT15H would indicate five years, two months, 10 days, and 15 hours.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="addressVerifyDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The date the address was verified.
								The date/time should be ISO 8601 UTC format.
								yyyy-mm-ddThh:mmZ (2011-03-28T12:00Z)
								or yyyy-mm-dd (2011-03-28) formats are supported.
								The time is assumed to be 00:00Z if omitted.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Phone">
		<xs:annotation>
			<xs:documentation>
				Fields related to phone contact points when phone type is selected.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="type"  minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Phone Type.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Home" />
						<xs:enumeration value="Work" />
						<xs:enumeration value="Mobile" />
						<xs:enumeration value="Pager" />
						<xs:enumeration value="Fax" />
						<xs:enumeration value="Other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="number" type="xs:string"  minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Phone Number.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="extension" type="xs:string"  minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Phone Number Extension.  This is typically only
						seen when Phone Type is WORK but can apply to others in
						rare circumstances.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="planFormat" type="PlanFormat" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The format of the phone number. Note: The NANP
						(North American Number Plan) is a subset of the ITU E.164
						standard.  Please refer to the E.164 specifications for
						possible length of a fully qualified phone number.
					</xs:documentation>
				</xs:annotation>
		
			</xs:element>

			<xs:element name="description" type="xs:string"  minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Description beyond the phone number info. For example,
						Bob's phone when he's on vacation.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="smsRegistered" type="xs:boolean"  minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Phone number is registered to receive SMS messages.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence >
	</xs:complexType >

	<xs:complexType name="Email">
		<xs:sequence>
			<xs:element name="type"  minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Email Type.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Home" />
						<xs:enumeration value="Work" />
						<xs:enumeration value="Other" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>

			<xs:element name="address" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Contact Email Address.
					</xs:documentation>
				</xs:annotation>
			</xs:element >
		</xs:sequence>
	</xs:complexType>

  <xs:complexType name="InstantMessage">
    <xs:sequence>
      <xs:element name="messagingService" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Instant Messaging Service.  Examples would be Google IM,
            Jabber, AOL, Yahoo, Facebook, Skype, etc.  Not a restricted value
            as these services often change.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="user" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Contact user name within the instant messaging platform.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SocialContactPoint">
    <xs:sequence>
      <xs:element name="socialService" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Social Service.  Examples would be Facebook, Twitter,
            Google Plus, LinkedIn, Pinterest, etc.  This is not a restricted value
            as these services often change.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="user" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Contact user name within the social platform.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Website">
    <xs:sequence>
      <xs:element name="sitename" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The URL of the web site.  Examples would be Facebook, Twitter,
            Google Plus, LinkedIn, Pinterest, etc.  This is not a restricted value
            as these services often change.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="user" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Contact user name within the website platform.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

	<xs:simpleType name="TimeOfDayType">
		<xs:annotation>
			<xs:documentation>
				The best time of day to call contact's phone numbers.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Afternoon"/>
			<xs:enumeration value="Evening"/>
			<xs:enumeration value="Morning"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="DemonstratedAccess">
		<xs:annotation>
			<xs:documentation>
				Is a collection of fields that identifies that appropriate access has been
				demonstrated to receive information electronically for this contact point.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dateTime" type="xs:dateTime" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The date/time that the party demonstrated having access
						to use this contact point for electronic delivery.
						The date/time should be ISO 8601 UTC format.
						yyyy-mm-ddThh:mmZ (2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28)
						formats are supported.  The time is assumed to be 00:00Z if omitted.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="fullName" type="xs:string" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The full name of the party that demonstrated having access to
						use this preference.  Depending upon the use case, this may or
						may not be provided but will typically be the name that the user
						typed in when they agreed to the conditions.  Since a person’s
						name can change over time, the best practice is to store this at
						the time that the agreement was made.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="userName" type="xs:string" minOccurs ="0" maxOccurs ="1">
				<xs:annotation>
					<xs:documentation>
						The credential username of the party that demonstrated having access.
						Since the username for a contact may change over time, the best practice
						is to store this at the time that the agreement was made.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

  <xs:simpleType name="PlanFormat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nanp">
        <xs:annotation>
          <xs:documentation>
            (North American Number Plan Administration):
            +1-NPA-NXX-xxxx  : Example: 1-847-555-1212
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="NanpLessCountryCode">
        <xs:annotation>
          <xs:documentation>
            (North American Number Plan
            without the Country Code):  NPA-NXX-xxxx
            : Example 847-555-1212
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="OtherInternational">
        <xs:annotation>
          <xs:documentation>
            Non-North American Number Plan phone numbers.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="NationalNumber">
        <xs:annotation>
          <xs:documentation>
            This is an exception to the E.164 standard
            such as 411, 911, etc. to support shortened
            numbers within national boarders.  This
            value was provided to ensure 100% coverage of all
            types.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction >
  </xs:simpleType>
  

	<xs:simpleType name ="ContactId">
		<xs:annotation>
			<xs:documentation>
				Unique identifier within system to uniquely
				identify this contact point.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>

	<xs:complexType name="ContactIdList">
		<xs:annotation>
			<xs:documentation>
				The list of contact ID's that should have their associated contacts either returned or affected
				by a read, update or delete request.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="contactId" type="ContactId" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						A contact ID that should have its associated contacts either returned or affected
						by a read, update or delete request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="ContactType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Address" />
			<xs:enumeration value="Phone" />
			<xs:enumeration value="Email" />
			<xs:enumeration value="InstantMessaging" />
			<xs:enumeration value="Social" />
			<xs:enumeration value="Website" />
			<xs:enumeration value="Other" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ContactTypeList">
		<xs:annotation>
			<xs:documentation>
				The list of contact types that should have their associated contacts either returned or affected
				by a read, update or delete request.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="contactType" type="ContactType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						A contact type that should have its associated contacts either returned or affected
						by a read, update or delete request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
