testing-stuff/schemas/CredentialGroup.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://cufxstandards.com/v3/CredentialGroup.xsd"
	version="3.2.$Revision: 1000 $"
	xmlns="http://cufxstandards.com/v3/CredentialGroup.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:common="http://cufxstandards.com/v3/Common.xsd"

	elementFormDefault="qualified"
	attributeFormDefault="unqualified">
  
  <xs:import namespace="http://cufxstandards.com/v3/Common.xsd" schemaLocation="Common.xsd" />

  <xs:element name="credentialGroupList" type="CredentialGroupList">
    <xs:annotation>
      <xs:documentation>
        This is a list of credentials that the party uses to access systems.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:complexType name="CredentialGroupList">
    <xs:annotation>
      <xs:documentation>
        Collection of credential groups for the party to use to access different systems.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="credentialGroup" type="CredentialGroup" minOccurs="0" maxOccurs="unbounded"
				nillable="true">
        <xs:annotation>
          <xs:documentation>
            Combination of credentials necessary to get access to a system, i.e. a combination of username,
            password and token.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CredentialGroup">
    <xs:sequence>
      <xs:element name="fiUserId" type="FiUserId" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Unique identifier used to find the party credential 
            group, used for updating in the future.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="credentialList" type="CredentialList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Credential list is a combination of credentials that the user must know in order
            to access the system.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="deliveryChannelList" type="DeliveryChannelList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            List of applicable delivery channels for these credentials.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="verifiedCredentialGroupToken" type="xs:NMTOKEN" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This is not a persistent token.  If the original filtered read request had the
            verifiedCredentialGroupList submitted, then this flag will return a token that 
            represents that session.  It is determined by the back end system if this token 
            is persisted for the session and used in future requests to manage the state.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    
    
  </xs:complexType>

  <xs:complexType name="CredentialList">
    <xs:annotation>
      <xs:documentation>
        Credential list is a combination of credentials that the user must know in order
        to access the system.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence >
      <xs:element name="credential" type="Credential" minOccurs ="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Credentials used by the party to access a system.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Credential">
    <xs:sequence>
      <xs:element name="credentialId" type="CredentialId" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Unique ID for each credential across the system.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="relatedCredentialId" type="CredentialId" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Unique ID for each related credential.  This is useful if there are credentials that
            work in pairs such as a security question and its answer.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="credentialType" type="CredentialType" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Type of the credentials being used.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="encrypted" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            If true, indicates that the credential was encrypted.
            Encryption method is agreed upon by application end point
            providers.  Assume it’s NOT encrypted if this flag is not provided.
            The message context will be used by the service to understand which client is calling the service
            to know which encryption algorithm to apply.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="value" type="xs:NMTOKEN" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The value of the credential, i.e. the actual password, pin,
            answer, question, url for the image,  etc.  Recommended: This
            value can be encrypted beyond the message encryption since the
            data values are very sensitive.   Optionally, client and Security
            Services can pass encrypted credential values using RSA-2048.
            A credential encrypted flag indicates that it was encrypted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="expirationDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Expiration date and time of the credentials.  The date/time
            should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
            (2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28) formats are
            supported.  The time is assumed to be 00:00Z if omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="temporary" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            If true, the credentials are temporary and must be reset
            upon first use of the credentials.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="customData" type="common:CustomData" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Name/data pairs list of fields that are not yet available in
            the general specification.  This should be used as a LAST RESORT
            as any customizations will not be supported by all data providers
            or processed by all client applications. ANY use of this field
            must be reported to the architecture or working group committee
            to ensure that fields are somehow handled in the future release of
            specifications.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DeliveryChannelList">
    <xs:annotation>
      <xs:documentation>
        List of applicable delivery channels for these credentials.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="deliveryChannel" type="DeliveryChannel" minOccurs ="0" maxOccurs ="unbounded">
        <xs:annotation>
          <xs:documentation>
            The delivery channel for which this credential applies.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="DeliveryChannel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LiveSupport">
        <xs:annotation>
          <xs:documentation>
            When a person calls in or walks up to a teller, sometimes they are asked 
            for a codeword to verify their identity.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value="OnlineBanking" />
      <xs:enumeration value="Mobile" />
      <xs:enumeration value="Kiosk" />
      <xs:enumeration value="ATM" />
      <xs:enumeration value="IVR" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FiUserId">
    <xs:annotation>
      <xs:documentation>
        FiUserId is a unique identifier for the credential group and is readable
        by the person. The person types this into systems to gain access, also 
        using their password, PIN or whatever else is required to gain access.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"></xs:restriction>
  </xs:simpleType>

  <xs:complexType name="FiUserIdList">
    <xs:annotation>
      <xs:documentation>
        FiUserId list is used for making a filtered request.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fiUserId" type="FiUserId" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            fiUserId is a unique identifier for the credential group and is readable by
            the person. The person types this into systems to gain access, also using
            their password, PIN or whatever else is required to gain access.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="CredentialType">
  <xs:annotation>
    <xs:documentation>
      Type of the credentials being used.
    </xs:documentation>
  </xs:annotation>
    <xs:restriction base ="xs:string">
      <xs:enumeration value="Username">
        <xs:annotation>
          <xs:documentation>
            Username is a system ID that is typically a shortened version of their name with no spaces.
            It is used to access an account when the person is using a computer system. The user usually
            selects their user ID during signup.  It is typically unique for that individual or account
            across the entire system of record.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Password">
        <xs:annotation>
          <xs:documentation>
            Password is a combination of characters known by the user that is used to 
            access an account when the person is on a computer system.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AtmPin">
        <xs:annotation>
          <xs:documentation>
            The ATM PIN is usually a 4 digit number with no spaces that is used at an ATM terminal
            to access cash funds, inquire about balances or perform transfers. Depending upon the
            provider, this number can be randomly generated or selected by the user at time they 
            create an account or activate their ATM card.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Codeword">
        <xs:annotation>
          <xs:documentation>
            Codeword is used to access an account in person or over the phone.
            This is typically different than the password used when electronically
            accessing the account.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Token">
        <xs:annotation>
          <xs:documentation>
            A token that was generated by a system for accessing a system.  Tokens
            can be rather lengthy to keep them confidential.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SecurityQuestion" >
        <xs:annotation>
          <xs:documentation>
            A question that the user has selected that is paired with a security answer, which the
            system uses to confirm that the person is authorized to the account.  This is typically used
            in resetting the password on a system.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SecurityAnswer">
        <xs:annotation>
          <xs:documentation>
            An answer to a security question that the system uses to confirm that the person is 
            authorized to the account. This is typically used in resetting the password on a system.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ChallengeQuestion" >
        <xs:annotation>
          <xs:documentation>
            A question that the user has selected and paired with a challenge answer so that the system
            can confirm that the person is authorized to the account.  This is typically used to enable
            a higher risk transaction on an account that requires a higher level of authentication to 
            perform the transaction, such as sending money externally.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value="ChallengeAnswer" >
        <xs:annotation>
          <xs:documentation>
            An answer to a challenge question that allows the system to confirm that the
            person is authorized to the account. This is typically used to enable a higher
            risk transaction on an account that requires a higher level of authentication
            to perform the transaction, such as sending money externally.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value="AntiphishingPhrase">
        <xs:annotation>
          <xs:documentation>
            A phrase that the user can assign so that when they log into their account, the
            user can confirm that they have not been sent to a different website. This
            prevents them from performing transactions or providing confidential information
            on a fraudulent site.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration >
      <xs:enumeration value="AntiphishingImageUrl">
        <xs:annotation>
          <xs:documentation>
            A URL to an image that the user selected and assigned to their account so that when they
            log into their account, the user can confirm that they have not been sent to a different 
            website. This prevents them from performing transactions or providing confidential
            information on a fraudulent site.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AntiphishingImageArtifactId" >
        <xs:annotation>
          <xs:documentation>
            A pointer to an image in the artifact repositor that the user selected and 
            assigned to their account so that when they log into their account, the user
            can confirm that they have not been sent to a different website. This prevents
            them from performing transactions or providing confidential information on a
            fraudulent site.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AuthorizationCode" >
        <xs:annotation>
          <xs:documentation>
            Can be used to authorize transactions such as wire transfers, password reset, ACH transactions, etc.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CredentialTypeList">
    <xs:annotation>
      <xs:documentation>
        List of credential types.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence >
      <xs:element name="credentialType" type="CredentialType" minOccurs ="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            List of credential types.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name ="CredentialId">
    <xs:annotation>
      <xs:documentation>
        The credential ID is a persistent and unique identifier for the credential. It should be unique
        for all credentials across the institution and remain the same over the life of the relationship
        with the financial institution.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" ></xs:restriction>
  </xs:simpleType>
  
</xs:schema>
