testing-stuff/schemas/LoanDisbursement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="LoanDisbursement"
	 targetNamespace="http://cufxstandards.com/v3/LoanDisbursement.xsd"
	 version="3.2.$Revision: 1000 $"
    xmlns="http://cufxstandards.com/v3/LoanDisbursement.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns:common="http://cufxstandards.com/v3/Common.xsd"
	 xmlns:loan="http://cufxstandards.com/v3/Loan.xsd"
	 xmlns:account="http://cufxstandards.com/v3/Account.xsd"
			  
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">

	<xs:import namespace="http://cufxstandards.com/v3/Common.xsd" schemaLocation="Common.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/Loan.xsd" schemaLocation="Loan.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/Account.xsd" schemaLocation="Account.xsd" />

  <xs:element name ="loanDisbursementList" type ="LoanDisbursementList">
    <xs:annotation>
      <xs:documentation>
        Collection of loan disbursements.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:complexType name="LoanDisbursementList">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
					Collection of loan disbursements.
				</xs:documentation>
			</xs:annotation>
			<xs:element name="loanDisbursement" type="LoanDisbursement" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Details related to loan account.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="loanId" type="account:AccountId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Unique identifier for the loan that corresponds to these disbursements.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

  <xs:complexType name="LoanDisbursement">
    <xs:choice>
      <xs:annotation>
        <xs:documentation>
          A loan disbursement contains all the information necessary to disburse the funds
          for a loan, such as disbursing the funds to a check, a dealer, the member's share, etc.
        </xs:documentation>
      </xs:annotation>
      <xs:element name="loanDisbursementCheck" type="LoanDisbursementCheck" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            A check disbursement would be used to produce a check with the given payee for the given amount.
            The check would draw from the funds of the new loan.  The host system is expected to calculate the
            check number and print out the check.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="loanDisbursementDepositToAccount" type="LoanDisbursementDepositToAccount" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            A deposit to account disbursement would deposit the given amount from the loan,
            to the provided account and suffix.  This does not have to be the same account
            as the member.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="loanDisbursementDealerAch" type="LoanDisbursementDealerAch" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            A dealer ACH loan disbursement would be used, for example, in the case of an indirect loan
            where the proceeds of the loan are being ACH'd to the dealer.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="loanDisbursementGL" type="LoanDisbursementGL" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            A disbursement to a general ledger account.  Could be used to pay business partners, GAP, etc.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  
	<xs:complexType name="LoanDisbursementBase">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>
					A loan disbursement contains all the information necessary to disburse the funds
					for a loan, such as disbursing the funds to a check, a dealer, the member's share, etc.
				</xs:documentation>
			</xs:annotation>
			<xs:element name="loanDisbursementId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Unique identifier for this loan disbursement record.
						This should be a globally unique identifier, meaning it should be unique across
						all loans, not just this loan.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="amount" type="xs:decimal" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The amount of this disbursement.  This is a required field.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						A description of this disbursement.  This is for informative purposes and is optional.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comment" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						An optional comment that would be created on the host system corresponding
						to this transaction.  An example comment is: Disbursement from loan 1234-L10.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="LoanDisbursementCheck">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>
					A check disbursement would be used to produce a check with the given payee for the given amount.
					The check would draw from the funds of the new loan.  The host system is expected to calculate the
					check number and print out the check.
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="LoanDisbursementBase">
				<xs:sequence>
					<xs:element name="payeeLines" type="xs:string" minOccurs="1" maxOccurs="3">
						<xs:annotation>
							<xs:documentation>
								A check can have up to 3 payee lines printed on the check.  You need at least
								one payee line, otherwise the check cannot be printed.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="LoanDisbursementDepositToAccount">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>
					A deposit to account disbursement would deposit the given amount from the loan,
					to the provided account and suffix.  This does not have to be the same account
					as the member.
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="LoanDisbursementBase">
				<xs:sequence>
					<xs:element name="toAccount" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The account number on the host that would have the funds deposited to it.
								This would be the full account number including everything the core needs to
								deposit the funds.  This field is required.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="toAccountType" type="account:AccountType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The account type on the host that would have the funds deposited to it.
							</xs:documentation>
						</xs:annotation>
					</xs:element>					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="LoanDisbursementDealerAch">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>
					A dealer ACH loan disbursement would be used, for example, in the case of an indirect loan
					where the proceeds of the loan are being ACH'd to the dealer.  
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="LoanDisbursementBase">
				<xs:sequence>
					<xs:element name="dealerId" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The unique identifier for the dealer that this disbursement should go to.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dealerName" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The name of this dealer.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dealerRtn" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The routing transfer number for this dealer.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dealerAccountNumber" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The account number for this dealer.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
  
	<xs:complexType name="LoanDisbursementGL">
		<xs:complexContent>
			<xs:annotation>
				<xs:documentation>
					A disbursement to a general ledger account.  Could be used to pay business partners, GAP, etc.
				</xs:documentation>
			</xs:annotation>
			<xs:extension base="LoanDisbursementBase">
				<xs:sequence>
					<xs:element name="glAccount" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The unique identifier for the dealer that this disbursement should go to.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>					
</xs:schema>
