testing-stuff/schemas/Preference.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 	targetNamespace="http://cufxstandards.com/v3/Preference.xsd"
	version="3.2.$Revision: 1000 $"				
	xmlns="http://cufxstandards.com/v3/Preference.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:common="http://cufxstandards.com/v3/Common.xsd"
	xmlns:contact="http://cufxstandards.com/v3/Contact.xsd"
	xmlns:party="http://cufxstandards.com/v3/Party.xsd"
	xmlns:relationship="http://cufxstandards.com/v3/Relationship.xsd"
	xmlns:card="http://cufxstandards.com/v3/Card.xsd"
	xmlns:account="http://cufxstandards.com/v3/Account.xsd"
  xmlns:credential="http://cufxstandards.com/v3/CredentialGroup.xsd"

	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xs:import namespace="http://cufxstandards.com/v3/Common.xsd" schemaLocation="Common.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/Contact.xsd" schemaLocation="Contact.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/Party.xsd" schemaLocation="Party.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/Relationship.xsd" schemaLocation="Relationship.xsd" />
  <xs:import namespace="http://cufxstandards.com/v3/Card.xsd" schemaLocation="Card.xsd" />
  <xs:import namespace="http://cufxstandards.com/v3/Account.xsd" schemaLocation="Account.xsd" />
  <xs:import namespace="http://cufxstandards.com/v3/CredentialGroup.xsd" schemaLocation="CredentialGroup.xsd" />

	<xs:element name="preferenceList" type="PreferenceList">
		<xs:annotation>
			<xs:documentation>
				The preferences collection/array contains all the preferences, for instance, that the credential set is
				authorized to access at the Institution based on applied filters.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:complexType name ="PreferenceList">
		<xs:annotation>
			<xs:documentation>
				The parties collection/array contains all the parties, for instance, that the credential set is
				authorized to access at the Institution based on applied filters.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="preference" type="Preference" minOccurs="0" maxOccurs="unbounded" nillable="true">
				<xs:annotation>
					<xs:documentation>
						Collection of fields for a preference.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence >
	</xs:complexType>


	<xs:complexType name ="Preference">
		<xs:annotation>
			<xs:documentation>
				The preference object defines all the fields necessary to define a
				person, business or vendor related to a financial institution.
				The ID uniquely identifies the party within the financial institution.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="preferenceId" type="PreferenceId" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Unique identifier for the preference.  This is not provided as an input,
						but as an output after the preference has been created.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="partyIdList" type="party:PartyIdList" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Collection of key fields that point to a list of parties for which the preference applies.
            Not applicable to Template status preferences.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="relationshipIdList" type="relationship:RelationshipIdList" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
            Collection of key fields that point to a list of relationships for which the preference applies.
            Not applicable to Template status preferences.
          </xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="accountIdList" type="account:AccountIdList" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
            Collection of key fields that point to a list of accounts for which the preference applies.
            Not applicable to Template status preferences.
          </xs:documentation>
				</xs:annotation>
			</xs:element>

      <xs:element name="cardIdList" type="card:CardIdList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Collection of key fields that point to a list of cards for which the preference applies.
            Not applicable to Template status preferences.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

			<xs:element name="contactIdList" type="contact:ContactIdList" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
            Collection of key fields that point to a list of contacts for which the preference applies.
            Not applicable to Template status preferences.
          </xs:documentation>
				</xs:annotation>
			</xs:element>

      <xs:element name="deliveryChannel" type="credential:DeliveryChannel" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
           The delivery channel to apply the preference to.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="preferenceType" type="PreferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Preference type.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="subType" type="SubType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Sub type of preference.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

      <xs:element name="lastChangedDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Date that the preference was last changed.  Typically read-only.
            The date/time should be ISO 8601 UTC format.
            yyyy-mm-ddThh:mmZ (2011-03-28T12:00Z) or yyyy-mm-dd (2011-03-28)
            formats are supported.  The time is assumed to be 00:00Z if omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="preferenceStatus" type="PreferenceStatus" minOccurs="0" maxOccurs="1" default="Active">
        <xs:annotation>
          <xs:documentation>
            The preference status can either be a Template, Inactive or Active.
            - If Template, then this indicates that the preference is available for consumption by the all parties.
                Once the party creates the preference, it would be saved with the account information, etc. to
                relate it to the accounts, parties, relationships, and cards appropriate for the party.
            - If Active, preference should be used when determining actions to take for the party, relationship, etc.
            - If Inactive, then the preference record should be ignored.  This is helpful for retaining values if a
                preference is temporarily inactivated but the current values should be retained for future use.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The value specified for the preference.  This can either be a numeric, boolean, date/time or text value 
            depending upon the type and sub type of the preference.
            For preference status of Template, this value represents the default value if provided.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="alertCustomText" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
            When type is EAlert and subType is ScheduledMessage, additional custom text to send in an alert.
            For preference status of Template, this value represents the default value if provided.
          </xs:documentation>
				</xs:annotation>
			</xs:element>

      <xs:element name="whereToContactIdList" type="contact:ContactIdList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            If preference requires a contact point for delivery then this is the collection of contacts to be reached at.
          </xs:documentation>
        </xs:annotation>
      </xs:element>


      <xs:element name="actionableAlert" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Valid only for preference records of EAlert type.
            Determines if the alert, when sent to the party, is expecting a response back from the party.
            For example, if a party receives an alert that states that their loan is overdue, it could
            ask a question that the user needs to respond to in order to make the payment.  An additional
            example might be if a transaction went through that appears to be fraudulent, the alert could
            expect a response back from the party to allow the posting to occur.
            This field is typically not managed by the party but is set by the system.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="widgetName" type="WidgetName" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            When the preference is of type Widget, this pulls all the preferences related to
            a specific widget together for the party on the accounts, etc.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="customData" type="common:CustomData"  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Preference level name/data pairs list of fields that are not yet available in the general specification.
            This should be used as a LAST RESORT as any customizations will not be supported by all data providers
            or processed by all client applications. ANY use of this field must be reported to the architecture or
            working group committee to ensure that fields are somehow handled in the future release of specifications.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence >
	</xs:complexType>

  <xs:complexType name="PreferenceTypeList">
    <xs:annotation>
      <xs:documentation>
        Preference type list used for filtering.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence >
      <xs:element name ="preferenceType" type="PreferenceType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Preference type used for filtering.
          </xs:documentation>
        </xs:annotation>
      </xs:element >
    </xs:sequence>
  </xs:complexType>
  
	<xs:simpleType name ="PreferenceType">
		<xs:annotation>
			<xs:documentation>
				Type of preference.  Additions to this list can be submitted to the CUFX committee.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base ="xs:string">
      <xs:enumeration value ="CourtesyPayment" >
        <xs:annotation>
          <xs:documentation>
            Whether the member has opted in to receive coverage of overdrawn accounts (look at status to see
            if it is Active), so that the FI pays the overdrawn account to a certain limit.
            If member has opted in and there is a member-requested total courtesy payment limit, look at that value.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
			<xs:enumeration value ="EAlert" >
        <xs:annotation>
          <xs:documentation>
            See sub type for specific type of EAlert and how to interpret the value and other preference fields.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
			<xs:enumeration value ="EStatement" >
        <xs:annotation>
          <xs:documentation>
            Determines if party(ies) wishes to receive eStatements or paper statements.
            If value is True then they receive an eStatement.  If value is False or record does not exist, they do not receive
            eStatements. 
            See the EAlertSubType StatementAvailable to determine if party wants to be alerted when statement is available.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="ETaxForms" >
        <xs:annotation>
          <xs:documentation>
            Determines if party(ies) wishes to receive eTaxForms or paper tax forms.
            If value is True then they receive an eTaxForm.  If value is False or record does not exist, they do not receive
            eTaxForms.
            See the EAlertSubType TaxFormAvailable to determine if party wants to be alerted when tax form is available.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="ENotice"  >
        <xs:annotation>
          <xs:documentation>
            Determines if party(ies) wishes to receive eNotices or paper notices.
            If value is True then they receive an eNotice.  If value is False or record does not exist, they do not receive
            eNotices.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="EReceipt"  >
        <xs:annotation>
          <xs:documentation>
            Determines if party(ies) wishes to receive eReceipts or paper receipts.
            If value is True then they receive an eReceipt.  If value is False or record does not exist, they do not receive
            eReceipts.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="EnrolledInTextBanking"  >
        <xs:annotation>
          <xs:documentation>
            Determines if party(ies) wishes to be enrolled in text banking.
            If value is True then they are enrolled.  If value is False or record does not exist, they are not enrolled.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      
      <xs:enumeration value ="Newsletter"  >
        <xs:annotation>
          <xs:documentation>
            Determines if party(ies) wishes to receive the newsletter (i.e. opted-in or -out). No sub types apply.
            Value is set to True or False depending upon preference.  False is assumed if not present.
            If this preference is present and active, a Newsletter can be sent when available. 
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
			<xs:enumeration value ="Communication" >
        <xs:annotation>
          <xs:documentation>
            Determines how the party, if specified on relationships, cards, or accounts, would like to communicated to.
            Value would be boolean True if they want to be communicated to for general operation changes, such as new branch 
            openings, outages, etc.  False can be specified but it is also assumed if not present.  No subTypes apply.
            The contact ID related to this preference is the specific contact that should be used for communicating to the party.
            If this preference is present and active, communication should go to this contact point specified.  
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="Marketing" >
        <xs:annotation>
          <xs:documentation>
            Determines if party on specified relationships, cards, or accounts would like to receive marketing material.
            Value would be boolean True if they want marketing material or false if party has opted out of marketing material.
            False can be specified, but it is assumed if not present.  No subTypes apply.
            The contact ID related to this preference is the specific contact that should be used for communicating to the party.
            If this preference is present and active, communication should go to this contact point specified. 
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="ContactHours" >
        <xs:annotation>
          <xs:documentation>
            The value contains a textual description as to when the party prefers to be contacted.  No sub types apply.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
			<xs:enumeration value ="Language">
        <xs:annotation>
          <xs:documentation>
            The preferred language with which the party(ies) wishes to communicate.  No sub types apply.
            Value values are IANA – language codes.
            http://www.iana.org/assignments/language-subtag-registry
            http://www.w3.org/International/questions/qa-lang-2or3.en.php
            If this type is specified and the value is not present, the value will assumed to be equal to 'en-us' unless the
            value field is specified.
            If this type is not specified, then 'en-us' (US English) is assumed.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

			<xs:enumeration value ="WebsiteFormatStylesheet">
        <xs:annotation>
          <xs:documentation>
            The website stylesheet preferred is contained in the value field.  No sub types apply.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value ="MobileSiteFormatStylesheet" >
        <xs:annotation>
          <xs:documentation>
            The mobile stylesheet preferred is contained in the value field.  No sub types apply.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
			<xs:enumeration value ="EmailFormat" >
        <xs:annotation>
          <xs:documentation>
            See sub type for the specific type of email contact format that should be used.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="Timeout" >
        <xs:annotation>
          <xs:documentation>
            A preference associated to the amount of time a session remains active.
            The value field holds the number of seconds that a session stays active.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="Widget" >
        <xs:annotation>
          <xs:documentation>
            A preference associated to widgets being displayed within a web site, mobile, etc.
            See the WidgetSubType for specifics on displaying the widget within the delivery channel.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value ="Other">
        <xs:annotation>
          <xs:documentation>
            The value contains information that can be interpreted by the end points.  The data to drive
            the preference is most likely in customData name/value pairs.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

  <xs:complexType name="PreferenceSubTypeList">
    <xs:annotation>
      <xs:documentation>
        Preference sub type list used for filtering.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence >
      <xs:element name ="subType" type="SubType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Preference sub type used for filtering.
          </xs:documentation>
        </xs:annotation>
      </xs:element >
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name ="SubType">
		<xs:annotation>
			<xs:documentation>
				Sub type of preference if applicable.  Additions to this list can be submitted to the CUFX committee.
			</xs:documentation>
		</xs:annotation>

    <xs:choice>
      <xs:element name="eAlertSubType" type="EAlertSubType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            eAlert sub type preference.  These are specific alerts that the user would like to receive regarding
            when a specific event occurs.  For example, a threshold was reached for a specific type of transaction or
            a field changed that has a high security level, such as a password.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="emailFormatSubType" type="EmailFormatSubType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Email format sub type preference.  Specifies the email format that the user would like to receive emails
            whenever the FI is communicating to parties on related accounts, etc.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="widgetSubType" type="WidgetSubType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Widget format sub type preference.  Specifies the widget format that the user would like to use for
            interacting with the FI about related accounts, etc.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>

  <xs:simpleType name="EAlertSubType">
		<xs:restriction base ="xs:string">
     
      <xs:enumeration value ="AddressChanged" >
        <xs:annotation>
          <xs:documentation>
            An address change was made on a related account (either through party, relationship, card or account).
            If this alert is present and active, it should be acted upon if event occurs.  The value field is ignored.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value ="ApproachingCreditLimit" >
        <xs:annotation>
          <xs:documentation>
            A transaction or authorization on a related account (either through party, relationship, card or account)
            caused a loan balance to approach the credit limit by the amount in the value field.
            For example if value field was 100.00 and credit limit was 500.00 and the transaction or authorization changed 
            the balance from 350.00 to 410.00 an alert would occur.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="AtmWithdrawalExceeds" >
        <xs:annotation>
          <xs:documentation>
            An ATM withdrawal on a related account (either through party, relationship, card or account) exceeded the amount
            in the value field.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value ="AtmDepositExceeds">
        <xs:annotation>
          <xs:documentation>
            An ATM Deposit on a related account (either through party, relationship, card or account) exceeded the amount in 
            the value field.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
        
			<xs:enumeration value ="AutomatedTransferExceeds" >
        <xs:annotation>
          <xs:documentation>
            An automated transfer on a related account (either through party, relationship, card or account) exceeded the amount
            in the value field.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
        
			<xs:enumeration value ="BalanceFellBelow" >
        <xs:annotation>
          <xs:documentation>
            A balance on a related account (either through party, relationship, card or account) fell below the amount in the
            value field.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
        
			<xs:enumeration value ="BalanceExceeds" >
        <xs:annotation>
          <xs:documentation>
            A balance on a related account (either through party, relationship, card or account) exceeded the amount in the value
            field.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
			<xs:enumeration value ="BillPayExceeds" >
        <xs:annotation>
          <xs:documentation>
            A bill pay payment on a related account (either through party, relationship, card or account) exceeded the amount
            in the value field.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
			<xs:enumeration value ="BillPayPayeeAdded" >
        <xs:annotation>
          <xs:documentation>
            A bill pay payee was added on a related account (either through party, relationship, card or account).  
            If this alert is present and active, it should be acted upon if event occurs.  The value field is ignored.
           </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
			<xs:enumeration value ="BillPayPaymentRejected" >
        <xs:annotation>
          <xs:documentation>
            A bill pay payment was rejected on a related account (either through party, relationship, card or account).
            If this alert is present and active, it should be acted upon if event occurs.  The value field is ignored.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
			<xs:enumeration value ="BillPayPaymentPaid" >
        <xs:annotation>
          <xs:documentation>
            A bill pay payment was paid on a related account (either through party, relationship, card or account).
            If this alert is present and active, it should be acted upon if event occurs.  The value field is ignored.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value ="CheckNumberWithinRangeHasCleared" >
        <xs:annotation>
          <xs:documentation>
            A check number was cleared within a range of checks on a related account (either through party, relationship, card
            or account).  The value has the range of checks with the bottom and top checks separated by a dash (-) that are being
            monitored.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
			<xs:enumeration value ="CheckWithdrawalExceeds" >
        <xs:annotation>
          <xs:documentation>
            A check withdrawal on a related account (either through party, relationship, card or account) exceeded the amount
            in the value field.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="CourtesyPayExceeds" >
        <xs:annotation>
          <xs:documentation>
            A courtesy payment occurring on a related account (either through party, relationship, card or account) exceeded
            the amount in the value field.  Typically the value will be 0.00 because the user may wish to be alerted on any
            courtesy payment, but the model is flexible in that it can be made be any value.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value ="CourtesyPayFallsBelow" >
        <xs:annotation>
          <xs:documentation>
            A courtesy payment occurring on a related account (either through party, relationship, card or account) fell below
            the amount in the value field.  This is useful for parties that are trying to manage smaller payments that are
            causing courtesy payments.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value ="CreditCardAuthorizationDeclined" >
        <xs:annotation>
          <xs:documentation>
            A credit card authorization was declined on a related account (either through party, relationship, card or account).
            Typically the value field will be zero which will cause all declines to be alerted.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value ="CreditCardAuthorizationExceeds" >
        <xs:annotation>
          <xs:documentation>
            A credit card authorization on a related account (either through party, relationship, card or account) exceeded
            the amount in the value field.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="CreditCardFuelDispenserAuthorizationExceeds" >
        <xs:annotation>
          <xs:documentation>
            A credit card authorization occurred at a fuel dispenser on a related account (either through party, relationship,
            card or account) exceeded the amount in the value field.  Typically the value will be zero which will cause an alert
            for all fuel dispensing attempts.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="CreditCardInternationalAuthorizationExceeds" >
        <xs:annotation>
          <xs:documentation>
            An international credit card authorization on a related account (either through party, relationship, card or account)
            exceeded the amount in the value field.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="CreditCardOnlineAuthorizationExceeds" >
        <xs:annotation>
          <xs:documentation>
            A credit card online authorization on a related account (either through party, relationship, card or account)
            exceeded the amount in the value field.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="CreditCardOutOfStateAuthorizationExceeds" >
        <xs:annotation>
          <xs:documentation>
            An out-of-state credit card authorization on a related account (either through party, relationship, card or account)
            exceeded the amount in the value field.
            Typically the value will be zero which will cause all out-of-state authorizations to be alerted.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="CreditCardRefundExceeds" >
        <xs:annotation>
          <xs:documentation>
            A credit card reversal/refund/credit on a related account (either through party, relationship, card or account)
            exceeded the amount in the value field.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="DebitCardAuthorizationDeclined" >
        <xs:annotation>
          <xs:documentation>
            A debit card authorization was declined on a related account (either through party, relationship, card or account).
            Typically the value will be zero which will cause all declines to be alerted.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value ="DebitCardAuthorizationExceeds" >
        <xs:annotation>
          <xs:documentation>
            A debit card authorization on a related account (either through party, relationship, card or account) exceeded the amount in the value field.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="DebitCardFuelDispenserAuthorizationExceeds" >
        <xs:annotation>
          <xs:documentation>
            A debit card authorization occurred at a fuel dispenser on a related account (either through party, relationship,
            card or account) exceeded the amount in the value field.
            Typically the value will be zero which will cause all fuel dispensing attempts to be alerted.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="DebitCardInternationalAuthorizationExceeds" >
        <xs:annotation>
          <xs:documentation>
            An international debit card authorization on a related account (either through party, relationship, card or account)
            exceeded the amount in the value field.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="DebitCardOnlineAuthorizationExceeds" >
        <xs:annotation>
          <xs:documentation>
            A debit card online authorization on a related account (either through party, relationship, card or account)
            exceeded the amount in the value field.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value ="DebitCardOutOfStateAuthorizationExceeds" >
        <xs:annotation>
          <xs:documentation>
            An out-of-state debit card authorization on a related account (either through party, relationship, card or account)
            exceeded the amount in the value field.
            Typically the value will be zero which will cause all out-of-state authorizations to be alerted.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value ="DebitCardRefundExceeds" >
        <xs:annotation>
          <xs:documentation>
            A debit card reversal/refund or credit on a related account (either through party, relationship, card or account)
            exceeded the amount in the value field.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="DepositedFundsHaveBeenReturned" >
        <xs:annotation>
          <xs:documentation>
            A deposit on a related account (either through party, relationship, card or account)
            was returned to the entity that originated the deposit.
            If this alert is present and active, it should be acted upon if event occurs.  The value field is ignored.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
			<xs:enumeration value ="DirectDepositExceeds" >
        <xs:annotation>
          <xs:documentation>
            A direct deposit on a related account (either through party, relationship, card or account) exceeded the amount
            in the value field.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="DirectDepositFellBelow" >
        <xs:annotation>
          <xs:documentation>
            A direct deposit on a related account (either through party, relationship, card or account) fell below the amount
            in the value field.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="EmailAddressChanged" >
        <xs:annotation>
          <xs:documentation>
            An email address change was made on a related account (either through party, relationship, card or account).
            If this alert is present and active, it should be acted upon if event occurs.  The value field is ignored.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
			<xs:enumeration value ="ExternalTransferExceeds" >
        <xs:annotation>
          <xs:documentation>
            An external transfer to another FI (not a bill pay or wire transfer) on a related account (either through party,
            relationship, card or account) exceeded the amount in the value field.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="PotentialFraud" >
        <xs:annotation>
          <xs:documentation>
            Potential fraud was found on a related account (either through party, relationship, card or account).
            If this alert is present and active, it should be acted upon if event occurs.  The value field is ignored.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="IncomingWireExceeds" >
        <xs:annotation>
          <xs:documentation>
            An incoming wire on a related account (either through party, relationship, card or account)
            exceeded the amount in the value field.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="InsufficientFundsToPayCheck" >
        <xs:annotation>
          <xs:documentation>
            Insufficient funds were available to pay a check on a related account (either through party, relationship, card
            or account).
            If this alert is present and active, it should be acted upon if event occurs.  The value field is ignored.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
			<xs:enumeration value ="HoldPlacedOnAccountExceeded" >
        <xs:annotation>
          <xs:documentation>
            A hold that was placed on a related account (either through party, relationship, card or account)
            exceeded the amount in the value field.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
			<xs:enumeration value ="HoldThatExceededWasRemovedFromAccount" >
        <xs:annotation>
          <xs:documentation>
            A hold that was placed on a related account (either through party, relationship, card or account)
            and exceeded the amount in the value field was subsequently removed.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="PhoneNumberChanged" >
        <xs:annotation>
          <xs:documentation>
            A phone number change was made on a related account (either through party, relationship, card or account).
            If this alert is present and active, it should be acted upon if event occurs.  The value field is ignored.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
			<xs:enumeration value ="LoginOccurred" >
        <xs:annotation>
          <xs:documentation>
            A login through a remote channel was successful on a related account
            (either through party, relationship, card or account).
            If this alert is present and active, it should be acted upon if event occurs.  The value field is ignored.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="LoginFailed" >
        <xs:annotation>
          <xs:documentation>
            A login through a remote channel was attempted but failed on a related account
            (either through party, relationship, card or account).
            If this alert is present and active, it should be acted upon if event occurs.  The value field is ignored.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="NameChangeAttempted" >
        <xs:annotation>
          <xs:documentation>
            A name was changed on a related account (either through party, relationship, card or account).
            If this alert is present and active, it should be acted upon if event occurs.  The value field is ignored.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="NameChangeOccurred" >
        <xs:annotation>
          <xs:documentation>
            A name was changed on a related account (either through party, relationship, card or account).
            If this alert is present and active, it should be acted upon if event occurs.  The value field is ignored.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
			<xs:enumeration value ="OutgoingWireExceeds" >
        <xs:annotation>
          <xs:documentation>
            An outgoing wire on a related account (either through party, relationship, card or account)
            exceeded the amount in the value field.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="PasswordResetSuccess" >
        <xs:annotation>
          <xs:documentation>
            Password reset was attempted and was successful on a related account
            (either through party, relationship, card or account).
            If this alert is present and active, it should be acted upon if event occurs.  The value field is ignored.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="PasswordResetFailure" >
        <xs:annotation>
          <xs:documentation>
            A password reset was attempted but failed on a related account
            (either through party, relationship, card or account).
            If this alert is present and active, it should be acted upon if event occurs.  The value field is ignored.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value ="PaymentDueInXDays" >
        <xs:annotation>
          <xs:documentation>
            A payment is due on a related account (either through party, relationship, card or account)
            within the number of days in the value field.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="PinChanged" >
        <xs:annotation>
          <xs:documentation>
            A personal identification number (PIN; typically 4 digits) was changed on a related account (either through party,
            relationship, card or account).
            If this alert is present and active, it should be acted upon if event occurrs.  The value field is ignored.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="PreferenceChanged" >
        <xs:annotation>
          <xs:documentation>
            A preference value was changed on a related account (either through party, relationship, card or account).
            If this alert is present and active, it should be acted upon if event occurrs.  The value field is ignored.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value ="ScheduledMessage"  >
        <xs:annotation>
          <xs:documentation>
            The user set up a message to be sent (either through party, relationship, card or account).
            The value in this EAlert sub type is a date/time for the message to be sent.  This can be used for scheduling
            birthday reminders, etc. by the user.  The text to be sent is in the alertCustomText field.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="ScheduledPaymentHasFailed"  >
        <xs:annotation>
          <xs:documentation>
            A scheduled payment failed on a related account (either through party, relationship, card or account).
            If this alert is present and active, it should be acted upon if event occurs.  The value field is ignored.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
			<xs:enumeration value ="ScheduledPaymentHasStopped" >
        <xs:annotation>
          <xs:documentation>
            A scheduled payment was stopped on a related account (either through party, relationship, card or account).
            If this alert is present and active, it should be acted upon if event occurs.  The value field is ignored.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
	    <xs:enumeration value ="SpecificCheckNumberHasCleared" >
        <xs:annotation>
          <xs:documentation>
            A specific check number was cleared on a related account (either through party, relationship, card or account).
            The value has the specific check number that is being monitored for clearance.  
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="SsnChanged" >
        <xs:annotation>
          <xs:documentation>
            An SSN was changed on a related account (either through party, relationship, card or account).
            If this alert is present and active, it should be acted upon if event occurs.  The value field is ignored.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="SystemNotification" >
        <xs:annotation>
          <xs:documentation>
            Party wishes to be contacted using the associated contact channel when there are system issues such as
            scheduled outages, unexpected outages, etc.
            If this alert is present and active, it should be acted upon if event occurs.  The value field is ignored.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
			<xs:enumeration value ="StatementAvailable"  >
        <xs:annotation>
          <xs:documentation>
            A statement is available on a related account (either through party, relationship, card or account).
            If this alert is present and active, it should be acted upon if event occurs.  The value field is ignored.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="TaxFormAvailable"  >
        <xs:annotation>
          <xs:documentation>
            A tax form is available on a related account (either through party, relationship, card or account).
            If this alert is present and active, it should be acted upon if event occurs.  The value field is ignored.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="EmailFormatSubType">
    <xs:restriction base ="xs:string">
      <xs:enumeration value ="Html" >
        <xs:annotation>
          <xs:documentation>
            Any emails should be forwarded using html formats.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value ="Text">
        <xs:annotation>
          <xs:documentation>
            Any emails should be forwarded using text formats.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
     </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="WidgetSubType">
    <xs:restriction base ="xs:string">
      <xs:enumeration value ="DisplayStatus" >
        <xs:annotation>
          <xs:documentation>
            What is the display status of the widget.
            The value field will contain one of of several values.
              Hide - party has selected to hide this widget from view completely.  Up to the end user application on how a party
                 might unhide a widget.
              AutoShow - party has selected to hide this widget unless for example the cursor is moved over the area of the screen
                 that reveals the widget.  Order of widgets in autoshow area is controlled by DisplayOrder value.  Up to 
                 application on how to hide the widget.
              AlwaysOnTop - Display this widget above all other widgets.
              Docked - Display this widget in an area of the screen selected by the party but controlled by the application. 
                 Order of widgets in docked area is controlled by DisplayOrder value. 
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value ="DisplayOrder">
        <xs:annotation>
          <xs:documentation>
            The order in which the party wishes to display the widget versus other widgets selected by the party.
            The order is stored in the value field.
            The value will be an non-negative integer between 0 and the total number of widgets available for display.
            If value is not available/specified, the widget display order is up to the application to determine.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value ="ShortCutKey">
        <xs:annotation>
          <xs:documentation>
            The value holds the party selected string of characters that represent the keyboard characters to concurrently
            press to activate a widget.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="DisplayPage">
        <xs:annotation>
          <xs:documentation>
            The value holds the name of the page on which the widget should display.  If widget should display on multiple pages,
            each will require an additional preference instance.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

   <xs:simpleType name="PreferenceId">
    <xs:annotation>
      <xs:documentation>
        Unique identifier for the preference.  This is not provided as an input,
        but as an output after the preference has been created.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:complexType name="PreferenceIdList">
    <xs:annotation>
      <xs:documentation>
        The list of Preference ID's that should have their preference accounts either returned or affected
        by a read, update or delete request.
      </xs:documentation>
    </xs:annotation>
    
    <xs:sequence>
      <xs:element name="preferenceId" type="PreferenceId" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            A preference ID that should have its associated preference either returned or affected
            by a read, update or delete request.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>


  <xs:simpleType name="WidgetName">
    <xs:annotation>
      <xs:documentation>
        When the preference is of type Widget, this pulls all the preferences related to
        a specific widget together for the party on the accounts, etc.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:complexType name="WidgetNameList">
    <xs:annotation>
      <xs:documentation>
        The list of widget names that should have their preference records either returned or affected
        by a read, update or delete request.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="widgetName" type="WidgetName" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            A widget name that should have its associated preference either returned or affected
            by a read, update or delete request.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="PreferenceStatus" >
    <xs:annotation>
      <xs:documentation>
        The preference status can either be a Template, Inactive or Active.
        If Inactive then the preference record should be ignored.  This is helpful for retaining
        values if a preference is temporarily inactivated but the current values should be retained for future use.
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string" >
      <xs:enumeration value ="Template">
        <xs:annotation>
          <xs:documentation>
            If Template, then this indicates that the preference is available for consumption by all parties.
            Once the party creates the preference, it would be saved with the account information, etc. to
            relate it to the accounts, parties, relationships, and cards appropriate for the party.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="Active">
        <xs:annotation>
          <xs:documentation>
            If Active, then preference should be used when determining actions to take for the party, relationship, etc.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="Inactive">
        <xs:annotation>
          <xs:documentation>
            If Inactive, then the preference record should be ignored.  This is helpful for retaining
            values if a preference is temporarily inactivated but the current values should be retained for future use.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="PreferenceStatusList">
    <xs:annotation>
      <xs:documentation>
        The list of preference statuses that should have their preference records either returned or affected
        by a read, update or delete request.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="preferenceStatus" type="PreferenceStatus" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            A preference status that should have its associated preference either returned or affected
            by a read, update or delete request.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
