testing-stuff/schemas/SecureMessageFilter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://cufxstandards.com/v3/SecureMessageFilter.xsd"
	version="3.2.$Revision: 1000 $"
	xmlns="http://cufxstandards.com/v3/SecureMessageFilter.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:common="http://cufxstandards.com/v3/Common.xsd"
	xmlns:document="http://cufxstandards.com/v3/Document.xsd"
	xmlns:party="http://cufxstandards.com/v3/Party.xsd"
	xmlns:relationship="http://cufxstandards.com/v3/Relationship.xsd"
	xmlns:account="http://cufxstandards.com/v3/Account.xsd"
  xmlns:secureMessage="http://cufxstandards.com/v3/SecureMessage.xsd"
  xmlns:productServiceRequest="http://cufxstandards.com/v3/ProductServiceRequest.xsd"

	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

  <xs:import namespace="http://cufxstandards.com/v3/Common.xsd" schemaLocation="Common.xsd" />
  <xs:import namespace="http://cufxstandards.com/v3/Document.xsd" schemaLocation="Document.xsd" />
  <xs:import namespace="http://cufxstandards.com/v3/Party.xsd" schemaLocation="Party.xsd" />
  <xs:import namespace="http://cufxstandards.com/v3/Relationship.xsd" schemaLocation="Relationship.xsd" />
  <xs:import namespace="http://cufxstandards.com/v3/Account.xsd" schemaLocation="Account.xsd" />
  <xs:import namespace="http://cufxstandards.com/v3/SecureMessage.xsd" schemaLocation="SecureMessage.xsd" />
  <xs:import namespace="http://cufxstandards.com/v3/ProductServiceRequest.xsd" schemaLocation="ProductServiceRequest.xsd" />

  <xs:element name="secureMessageFilter" type="SecureMessageFilter">
    <xs:annotation>
      <xs:documentation>
        The list of filter options for services requesting relationship data.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="SecureMessageFilter">
    <xs:annotation>
      <xs:documentation>
        The list of filter options for services requesting secure message data.  The options can be used
        in combination or by themselves.  It is up to the data source to either return or affect the
        data requested or return a standard error identifying why the request was rejected.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="secureMessageIdList" type="secureMessage:SecureMessageIdList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The list of secure message ID's that should have their associated secure messages
            returned or affected by a read, update or delete secure message request.
            If left unsupplied, then all secure messages are returned based on other filters applied.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="threadIdList" type="secureMessage:ThreadIdList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The list of thread ID's that should have their associated secure messages
            returned or affected by a read, update or delete secure message request.
            If left unsupplied, then all secure messages are returned based on other filters applied.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="subjectLineContainsList" type="secureMessage:SubjectLineContainsList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The list of subject lines that should have their associated secure messages returned or
            affected by a read, update or delete secure message request.
            If left unsupplied, then all secure messages are returned based on other filters applied.

          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="messageFromList" type="secureMessage:SecureMessageUserList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The list of secure message senders that should have their associated secure messages returned
            or affected by a read, update or delete secure message request.
            If left unsupplied, then all secure messages are returned based on other filters applied.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="messageToList" type="secureMessage:SecureMessageUserList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The list of secure message receivers that should have their associated secure messages returned or affected
            by a read, update or delete secure message request.
            If left unsupplied, then all secure messages are returned based on other filters applied.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="carbonCopyList" type="secureMessage:SecureMessageUserList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The list of secure message carbon copy receivers that should have their associated secure messages
            returned or affected by a read, update or delete secure message request.
            If left unsupplied, then all secure messages are returned based on other filters applied.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="blindCarbonCopyList" type="secureMessage:SecureMessageUserList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The list of secure message blind carbon copy receivers that should have their associated secure messages
            returned or affected by a read, update or delete secure message request.
            If left unsupplied, then all secure messages are returned based on other filters applied.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="replyToList" type="secureMessage:SecureMessageUserList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The list of secure message replyTo receivers that should have their associated secure messages 
            returned or affected by a read, update or delete secure message request.
            If left unsupplied, then all secure messages are returned based on other filters applied.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="secureMessageTypeList" type="secureMessage:SecureMessageTypeList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The list of secure message types that should have their associated secure messages returned or affected
            by a read, update or delete request.
            If left unsupplied, then all secure messages are returned based on other filters applied.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="currentStatusList" type="secureMessage:SecureMessageStatusList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The list of secure message current statuses that should have their associated secure messages 
            returned or affected by a read, update or delete secure message request.
            If left unsupplied, then all secure messages are returned based on other filters applied.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="statusLogList" type="secureMessage:SecureMessageStatusList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The list of secure message status logs that should have their associated secure
            messages either returned or affected by a read, update or delete secure message request.
            If left unsupplied, then all secure messages are returned based on other filters applied.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="statusLogStartDate" type="xs:dateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The beginning date and time that should be used when filtering for secure messages
            based on the status of the message at a point in time.
            The time is assumed to be 00:00Z if omitted.
            If left unsupplied, then all secure messages are returned based on other filters applied.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="statusLogEndDate" type="xs:dateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The ending date and time that should be used when filtering for secure messages
            based on the status of the message at a point in time.
            The time is assumed to be 00:00Z if omitted.
            If left unsupplied, then all secure messages are returned based on other filters applied.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="bodyContainsList" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The list of secure messages that contain the bodyContains string somewhere 
            within its body and that should have their associated secure messages either
            returned or affected by a read, update or delete secure message request.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="returnConversation" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            If true, all previous messages linked to the messages that matched the search criteria,
            if available, will be returned.  Based on previousSecureMessageId.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="documentIDList" type="document:DocumentIdList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The list of document ID's that should have their associated secure messages returned or affected
            by a read, update or delete secure message request.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="productServiceRequestIDList" type="productServiceRequest:ProductServiceRequestIdList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The list of product service request ID's that should have their associated secure messages returned or affected
            by a read, update or delete secure message request.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
    </xs:sequence>
  </xs:complexType>
</xs:schema>

