testing-stuff/schemas/SecureMessage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  targetNamespace="http://cufxstandards.com/v3/SecureMessage.xsd"
  version="3.2.$Revision: 1000 $"
  xmlns="http://cufxstandards.com/v3/SecureMessage.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:common="http://cufxstandards.com/v3/Common.xsd"
  xmlns:party="http://cufxstandards.com/v3/Party.xsd"
  xmlns:relationship="http://cufxstandards.com/v3/Relationship.xsd"
  xmlns:account="http://cufxstandards.com/v3/Account.xsd"
  xmlns:card="http://cufxstandards.com/v3/Card.xsd"
  xmlns:document="http://cufxstandards.com/v3/Document.xsd"
  xmlns:artifact="http://cufxstandards.com/v3/Artifact.xsd"
  xmlns:messageContext="http://cufxstandards.com/v3/MessageContext.xsd"
  xmlns:productServiceRequest="http://cufxstandards.com/v3/ProductServiceRequest.xsd"  
  xmlns:accessProfile="http://cufxstandards.com/v3/AccessProfile.xsd"  

 
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <xs:import namespace="http://cufxstandards.com/v3/Common.xsd" schemaLocation="Common.xsd" />
  <xs:import namespace="http://cufxstandards.com/v3/Party.xsd" schemaLocation="Party.xsd" />
  <xs:import namespace="http://cufxstandards.com/v3/Artifact.xsd" schemaLocation="Artifact.xsd" />
  <xs:import namespace="http://cufxstandards.com/v3/Relationship.xsd" schemaLocation="Relationship.xsd" />
  <xs:import namespace="http://cufxstandards.com/v3/Account.xsd" schemaLocation="Account.xsd" />
  <xs:import namespace="http://cufxstandards.com/v3/Document.xsd" schemaLocation="Document.xsd" />
  <xs:import namespace="http://cufxstandards.com/v3/MessageContext.xsd" schemaLocation="MessageContext.xsd" />
  <xs:import namespace="http://cufxstandards.com/v3/Card.xsd" schemaLocation="Card.xsd" />
  <xs:import namespace="http://cufxstandards.com/v3/ProductServiceRequest.xsd" schemaLocation="ProductServiceRequest.xsd" />
  <xs:import namespace="http://cufxstandards.com/v3/AccessProfile.xsd" schemaLocation="AccessProfile.xsd" />

  <xs:element name= "secureMessageList" type ="SecureMessageList">
    <xs:annotation>
      <xs:documentation>
        The secure messages collection/array list contains all the secure messages or secure message templates, for instance,
        that the credential set is authorized to access at the Institution based on applied filters.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="SecureMessageList">
    <xs:annotation>
      <xs:documentation>
        The secure messages collection/array list contains all the secure messages or secure message templates, for instance,
        that the credential set is authorized to access at the Institution based on applied filters.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="secureMessage" type="SecureMessage" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            The secure message defines the information sent and then received by two or more parties.
            It also relates secure messages to the sending and receiving party(ies), and potentially to the relationship 
            and/or account(s) to which the secure message is bound.  The information and message statuses below are in 
            the context of the user that is viewing the message.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SecureMessage">
    <xs:annotation>
      <xs:documentation>
        The secure message defines the information sent and then received by two or more parties.
        It also relates secure messages to the sending and receiving party(ies), and potentially to the relationship
        and/or account(s) to which the secure message is bound.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="secureMessageId" type="SecureMessageId" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The secure message ID is a persistent and unique identifier for the secure message, not related to the party,
            relationship or accounts that the secure message is for. It should be unique for all secure messages across the
            institution and remain the same over the life of the secure message within the financial institution.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="previousSecureMessageId" type="SecureMessageId" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The previous secure message ID, for the ability to create a chain of messages.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="threadId" type="ThreadId" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The ID of the thread of messages.
          </xs:documentation>
        </xs:annotation>
      </xs:element>      
      
      <xs:element name="subjectLine" type="SubjectLine" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Each secure message has a subject line assigned by the message creator.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="messageFromList" type="SecureMessageUserList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Who or what originated the message.  Most likely there are not multiple 'from' entities.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="messageToList" type="SecureMessageUserList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Who or what should receive the message.  There may likely be multiple receivers.
            For example, a message to sign a loan document goes to the borrower and co-borrower.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="carbonCopyList" type="SecureMessageUserList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Who should be carbon-copied on the message. There may likely be multiple carbon-copy receivers.
           </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="blindCarbonCopyList" type="SecureMessageUserList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Who should be blind carbon-copied on the message. There may likely be multiple carbon-copy receivers.
            The messageTo receivers will not know that a blind carbon-copy receiver was sent a copy.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="replyToList" type="SecureMessageUserList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Who or what should receive the message reply.  If not present, then the
            reply should go to messageFrom.  There may be more than one replyTo entities.
            For example, a message to sign a document might go to legal and to loan processing.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="type" type="SecureMessageType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            A valid type of secure message or secure message template.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="currentStatus" type="SecureMessageStatus" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Current status of the secure message in the process.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="statusLog" type="StatusLog" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The date and times corresponding to the status when the secure message was drafted, sent, read, replied,
            forwarded, etc.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="body" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The actual content of the message.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="bodyFormat" type="BodyFormat" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The format of the message.  Examples would be HTML, Rich Text, or Plain Text.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="documentIdList" type="document:DocumentIdList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Pointers to the documents attached to the secure message.  This is provided as a list 
            in case the secure message contains multiple documents.  If functionality is available, 
            the documents will have a status as to whether they require a signature and whether
            they are signed or not.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="doNotDeliverBeforeDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The date and time that the secure message should be sent if put on a delayed delivery schedule.
            The date/time should be ISO 8601 UTC format: yyyy-mm-ddThh:mmZ (2011-03-28T12:00Z) or yyyy-mm-dd
            (2011-03-28) formats are supported.  The time is assumed to be 00:00Z if omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
   
      <xs:element name="expirationDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The date and time that the secure message expires and should be removed from view.
            It is up to the end point to determine what to do with the message if it has expired.
            The date/time should be ISO 8601 UTC format. yyyy-mm-ddThh:mmZ (2011-03-28T12:00Z) and
            yyyy-mm-dd (2011-03-28) formats are supported.  The time is assumed to be 00:00Z if omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="requestId" type="productServiceRequest:RequestId" minOccurs ="0" maxOccurs ="1">
        <xs:annotation>
          <xs:documentation>
            Unique identifier that can reference a request within a product service request.
          </xs:documentation>
        </xs:annotation >
      </xs:element>
  

      
      <xs:element name="customData" type="common:CustomData"  minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Secure message name/data pairs list of fields that are not yet available in the general specification.
            This should be used as a LAST RESORT as any customizations will not be supported by all data providers
            or processed by all client applications. ANY use of this field must be reported to the architecture or
            working group committee to ensure that fields are somehow handled in the future release of specifications.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      

    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="SecureMessageId">
    <xs:annotation>
      <xs:documentation>
        The secure message ID is a persistent and unique identifier for the secure message that is not related to the party,
        relationship or accounts that the secure message is for.  It should be unique for all secure messages across the
        institution and remain the same over the life of the secure message within the financial institution.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:complexType name="SecureMessageIdList">
    <xs:annotation>
      <xs:documentation>
        The list of secure message ID's that should have their associated secure messages either returned or affected
        by a read, update or delete request.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="secureMessageId" type="SecureMessageId" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            A secure message ID that should have its associated secure messages either returned or affected
            by a read, update or delete request.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ThreadIdList">
    <xs:annotation>
      <xs:documentation>
        The list of thread ID's that should have their associated secure messages either returned or affected
        by a read, update or delete request.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="threadId" type="ThreadId" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            The unique ID associated with a message or group of messages.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="SubjectLine">
    <xs:annotation>
      <xs:documentation>
        Each secure message has a subject line supplied by the creator of the secure message.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base ="xs:string" />
  </xs:simpleType>

  <xs:complexType name="SubjectLineContainsList">
    <xs:annotation>
      <xs:documentation>
        The list of secure message subjects that should have their associated secure messages either returned or affected
        by a read, update or delete request.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="subjectLine" type="SubjectLine" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            A secure message subject line that should have its associated secure messages either returned or affected
            by a read, update or delete request.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="SecureMessageStatus">
    <xs:annotation>
      <xs:documentation>
        Current status of the secure message, i.e. a template or in the process of being sent, viewed, returned (see signature
        type to determine if it was signed or not when returned), etc.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Template">
        <xs:annotation>
          <xs:documentation>
            The secure message has not yet been filled with information and can be used for any party, account or relationship
            as a template.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Draft">
        <xs:annotation>
          <xs:documentation>
            The secure message has been created but not sent to the receiver.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Outbox">
        <xs:annotation>
          <xs:documentation>
            The secure message has been placed in an outbox to send, but has not been sent.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Sent">
        <xs:annotation>
          <xs:documentation>
            The secure message has been sent to the intended receiver.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Read">
        <xs:annotation>
          <xs:documentation>
            The secureMessage has been read by the intended receiver.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Replied">
        <xs:annotation>
          <xs:documentation>
            The secure message had a new message created in response to this message.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Forwarded">
        <xs:annotation>
          <xs:documentation>
            The secure message was forwarded to another receiver.  Typically,
            a new secure message would be created for the new receiver to view.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Archived">
        <xs:annotation>
          <xs:documentation>
            The secure message was archived.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Unread">
        <xs:annotation>
          <xs:documentation>
            The secure message has been created and sent, but it has not been read by the recipient(s).
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Failed">
        <xs:annotation>
          <xs:documentation>
            The secure message was created and sent, but delivery to the recipient(s) failed.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Expired">
        <xs:annotation>
          <xs:documentation>
            The secure message was sent.  The secure message had an associated expiration date.  
            The expiration date has passed, so the secure message has expired.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="SecureMessageStatusList">
    <xs:annotation>
      <xs:documentation>
        The list of secure message statuses that should have their associated secure messages either returned or affected
        by a read, update or delete request.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="secureMessageStatus" type="SecureMessageStatus" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            A secure message status that should have its associated secure messages either returned or affected
            by a read, update or delete request.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name ="SecureMessageType">
    <xs:annotation>
      <xs:documentation>
        Type of secure message or secure message template, such as Product Offer, Notice, etc.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">

      <xs:enumeration value="Alert">
        <xs:annotation>
          <xs:documentation>
            Contains information about an alert due to an event that occurred. The party requested an alert for 
            when this event occurs.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="GeneralMessage">
        <xs:annotation>
          <xs:documentation>
            Contains general information about a product or service.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="Notice">
        <xs:annotation>
          <xs:documentation>
            Contains a legal notice to the party(ies) that is required to be sent when an event happens on their
            associated accounts.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="ProductOffering">
        <xs:annotation>
          <xs:documentation>
            Contains a product offering which may include confidential information.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="ScheduleMeeting">
        <xs:annotation>
          <xs:documentation>
            Contains information about a meeting request.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="ServiceUpdate">
        <xs:annotation>
          <xs:documentation>
            Contains information on current or new services.  May contain information about the next steps that
            the FI is executing or that the party is supposed to perform.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="SignatureRequired">
        <xs:annotation>
          <xs:documentation>
            Documents contained within this type of message require an electronic or wet signature.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      
      <xs:enumeration value="Other">
        <xs:annotation>
          <xs:documentation>
            This value can be used when no other statuses relate to the particular secure message.  
            What the secure message is can be found using the secure message subject line.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction >
  </xs:simpleType>

  <xs:complexType name="SecureMessageTypeList">
    <xs:annotation>
      <xs:documentation>
        The list of secure message types that should have their associated secure messages either returned or affected
        by a read, update or delete request.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="secureMessageType" type="SecureMessageType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            A secure message type that should have its associated secure messages either returned or affected
            by a read, update or delete request.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name ="SecureMessageUser">
    <xs:complexContent>
      <xs:annotation>
        <xs:documentation>
          Details related to a secure message receiver or sender.
          Note that messageContext:User contains the necessary information for identifying
          internal users, system accounts, external users and external fiUserId accounts.
          If this information is not present, the party ID, account, relationship, etc. may be the "receiver."
          If both the user info is available and the info is provided below, then it's an AND condition.
          e.g. The message was sent to fiUserId='cufxuser', partyid='123' on account='12334'.
        </xs:documentation>
      </xs:annotation>
      <xs:extension base="messageContext:User">
        <xs:sequence>
          <xs:element name="partyId" type="party:PartyId" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                This is a party to which message relates.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          
          <xs:element name="relationshipId" type="relationship:RelationshipId" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                This is the relationship to which the message relates.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          
          <xs:element name="accountId" type="account:AccountId" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                This is the account to which the message relates.
              </xs:documentation>
            </xs:annotation>
          </xs:element>

          <xs:element name="cardId" type="card:CardId" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                This is the card to which the message relates.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension >
    </xs:complexContent >
  </xs:complexType >

  <xs:complexType name="SecureMessageUserList">
    <xs:annotation>
      <xs:documentation>
        Can serve as a list of users that either receive or send a message.
        Can also serve as a list of secure message users that should have their associated secure messages returned or affected
        by a read, update or delete request when filtering.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="secureMessageUser" type="SecureMessageUser" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            A secure message type that should have its associated secure messages either returned or affected
            by a read, update or delete request.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="BodyFormat">
    <xs:annotation>
      <xs:documentation>
        The format of the body content.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value ="Html">
        <xs:annotation>
          <xs:documentation>
            The body contains full HTML markup.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value ="Text">
        <xs:annotation>
          <xs:documentation>
            The body contains raw text in ASCII format.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="StatusLog">
    <xs:annotation>
      <xs:documentation>
        The dates and times corresponding to the secure message's statuses, i.e. drafted, sent, read, replied,
        forwarded, etc.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="statusLogEntry" type="StatusLogEntry" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Status entry at the point in time when the secure message was at a given status.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence >
  </xs:complexType>

  <xs:complexType name="StatusLogEntry">
    <xs:annotation>
      <xs:documentation>
        The dates and times that the secureMessage changed status to drafted, sent, read, replied,
        forwarded, etc.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="status" type="SecureMessageStatus" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Status of the secure message in the process at a historical point in time.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="messageAccessProfileId" type="accessProfile:AccessProfileId" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The ID of the access profile that is used to update this message status.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="statusDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            The date and time that the secure message was drafted, read, sent, replied, forwarded, etc.  See Status
            for valid events.  The date/time should be ISO 8601 UTC format. yyyy-mm-ddThh:mmZ (2011-03-28T12:00Z)
            and yyyy-mm-dd (2011-03-28) formats are supported.  The time is assumed to be 00:00Z if omitted.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence >
  </xs:complexType >

  <xs:simpleType name="ThreadId">
    <xs:restriction base="xs:string">    
    <xs:annotation>
      <xs:documentation>
        The unique ID associated with a message or a group of messages. 
      </xs:documentation>
    </xs:annotation>
  </xs:restriction>
  </xs:simpleType>
  

</xs:schema>
