testing-stuff/schemas/Transaction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
   targetNamespace="http://cufxstandards.com/v3/Transaction.xsd"
  version="3.2.$Revision: 1000 $"
  xmlns="http://cufxstandards.com/v3/Transaction.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:common="http://cufxstandards.com/v3/Common.xsd"
  xmlns:account="http://cufxstandards.com/v3/Account.xsd"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

	<xs:import namespace="http://cufxstandards.com/v3/Common.xsd" schemaLocation="Common.xsd" />
	<xs:import namespace="http://cufxstandards.com/v3/Account.xsd" schemaLocation="Account.xsd" />

	<xs:element name= "transactionList" type ="TransactionList">
		<xs:annotation>
			<xs:documentation>
				The transaction collection/array contains all the transactions for the given account.
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="TransactionList">
		<xs:sequence>
			<xs:element name="transaction" minOccurs="0" maxOccurs="unbounded" nillable="true">
				<xs:annotation>
					<xs:documentation>
						If there is a start date where provided or required, the transactions collection/array should
						remain empty if no transactions were posted during the provided date period.
						In this case, the data provider should still return all other account information.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="transactionId" type="TransactionId" minOccurs="0" maxOccurs ="1">
							<xs:annotation>
								<xs:documentation>
									The transaction ID is a persistent and unique identifier for each transaction.
									It must be unique within the account as it is used for matching purposes.
									Transactions should always be returned with the same ID, even if transactional
									information has changed (type, amount, description, date, etc.) since the
									previous account data pull.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="accountId" type="account:AccountId" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									The account ID is a persistent and unique identifier for the account.
									It must be unique for all users across the institution and remain the
									same over the life of the account.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="type" type="TransactionType" minOccurs="0" maxOccurs ="1">
							<xs:annotation>
								<xs:documentation>
									The transaction type simply reflects whether the account was debited or credited.
									For comment-only transactions, the value can be either Debit or Credit and the
									transaction amount can be null, not return or 0.00.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="amount" type="common:Money" minOccurs="0" maxOccurs ="1">
							<xs:annotation>
								<xs:documentation>
									The transaction amount should always be the absolute value of the transaction.
									The sign of the amount will be determined based on the transaction type.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs ="1">
							<xs:annotation>
								<xs:documentation>
									The description represents the memo of the transaction.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="checkNumber" type="CheckNumber" minOccurs="0" maxOccurs ="1">
							<xs:annotation>
								<xs:documentation>
									The number of the check.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="dateTimePosted" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
							<xs:annotation>
								<xs:documentation>
									The date/time posted is the date the transaction was posted to the account.
									If this date is unavailable, it is acceptable to use the date that the transaction
									took place.  The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
									(2011-03-28T12:00Z) and yyyy-mm-dd (2011-03-28) formats are
									supported.  The time is assumed to be 00:00Z if omitted.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="dateTimeEffective" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
							<xs:annotation>
								<xs:documentation>
									The date/time effective is the date on which the transaction took place.
									The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
									(2011-03-28T12:00Z) and yyyy-mm-dd (2011-03-28) formats are
									supported.  The time is assumed to be 00:00Z if omitted.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="status" type="TransactionStatus" minOccurs="0" maxOccurs="1" default ="Posted">
							<xs:annotation>
								<xs:documentation>
									The current status of the transaction.  This may be part of a session or after the session has ended.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="principalAmount" type="common:Money" minOccurs="0" maxOccurs ="1">
							<xs:annotation>
								<xs:documentation>
									How much of a loan payment was applied toward principal of the loan
									(actually reducing the amount of the loan balance).
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="interestAmount" type="common:Money" minOccurs="0" maxOccurs ="1">
							<xs:annotation>
								<xs:documentation>
									What amount of the loan payment was paid to the financial institution for interest.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="transactionFeeList" type="TransactionFeeList" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									Details related to transaction fees.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="merchantCategoryCode" type="xs:string" minOccurs="0" maxOccurs ="1">
							<xs:annotation>
								<xs:documentation>
									A four-digit number used by the payment card industry to classify businesses
									into market segments by the type of goods or services they provide.
									The MCC is assigned based on the supplier’s primary line of business.
									Only applies to debit or credit card purchases.
									List should be based on standard merchant category codes.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="category" type="TransactionCategory" minOccurs="0" maxOccurs ="1">
							<xs:annotation>
								<xs:documentation>
									The default or overridden category for personal financial management.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="source" type="TransactionSource" minOccurs="0" maxOccurs ="1">
							<xs:annotation>
								<xs:documentation>
									System or delivery channel that originated the transaction.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="customData" type="common:CustomData"  minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>
									Transaction level name/data pairs list of fields that are not yet available in the general specification.
									This should be used as a LAST RESORT as any customizations will not be supported by all data providers
									or processed by all client applications. ANY use of this field must be reported to the architecture or
									working group committee to ensure that fields are somehow handled in the future  release of specifications.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="TransactionId">
		<xs:restriction base="xs:string">
			<xs:annotation>
				<xs:documentation>
					The transaction ID is a persistent and unique identifier for each transaction.
					It must be unique within the account as it is used for matching purposes.
					Transactions should always be returned with the same ID, even if transactional
					information has changed (type, amount, description, date, etc.) since the
					previous account data pull.
				</xs:documentation>
			</xs:annotation>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TransactionType">
		<xs:restriction base="xs:string">
			<xs:annotation>
				<xs:documentation>
					The transaction type simply reflects whether the account was debited or credited.
					For comment-only transactions, the value can be either Debit or Credit and the
					transaction amount can be null, not return or 0.00.
				</xs:documentation>
			</xs:annotation>
			<xs:enumeration value="Debit"></xs:enumeration>
			<xs:enumeration value="Credit"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="TransactionIdList">
		<xs:annotation>
			<xs:documentation>
				The list of transaction ID's that should have their associated transaction records either returned or affected
				by a read, update or delete request.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="transactionId" type="TransactionId" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						A transaction ID that should have its associated transaction records either returned or affected
						by a read, update or delete request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name ="TransactionSource">
		<xs:annotation>
			<xs:documentation>
				System or delivery channel that originated the transaction.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base ="xs:string">
			<xs:enumeration value ="Ach" />
			<xs:enumeration value ="Atm" />
			<xs:enumeration value ="BillPay" />
			<xs:enumeration value ="BulkDeposit" />
			<xs:enumeration value ="Cash" />
			<xs:enumeration value ="Check" />
			<xs:enumeration value ="Fee" />
			<xs:enumeration value ="HomeBanking" />
			<xs:enumeration value ="Insurance" />
			<xs:enumeration value ="InterestEarned" />
			<xs:enumeration value ="InterestPaid" />
			<xs:enumeration value ="Ivr" />
			<xs:enumeration value ="MobileBanking" />
			<xs:enumeration value ="Other" />
			<xs:enumeration value ="Payroll" />
			<xs:enumeration value ="PinPurchase" />
			<xs:enumeration value ="SharedBranch" />
			<xs:enumeration value ="Signature" />
			<xs:enumeration value ="Wire" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="TransactionSourceList">
		<xs:annotation>
			<xs:documentation>
				The list of transaction sources that should be returned or affected by a read, update or delete request.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="source" type="TransactionSource" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						The list of transaction sources that should be returned or affected by a read, update or delete request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TransactionFeeList" >
		<xs:annotation>
			<xs:documentation>
				Details related to transaction fees.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="transactionFee" type="TransactionFee" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Details related to tranaction fees.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TransactionFee">
		<xs:annotation>
			<xs:documentation>
				Details related to transaction fees.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:sequence>
				<xs:element name="transactionFeeId" type="xs:string" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>
							Unique ID to identify the transaction fee in the back end system.
						</xs:documentation>
					</xs:annotation>
				</xs:element>

				<xs:element name="transactionFeeDateTimePosted" type="xs:dateTime" minOccurs="0" maxOccurs ="1">
					<xs:annotation>
						<xs:documentation>
							The date/time posted is the date the transaction fee was posted to the account.
							If this date is unavailable, it is acceptable to use the date that the transaction
							took place.  The date/time should be ISO 8601 UTC format.  yyyy-mm-ddThh:mmZ
							(2011-03-28T12:00Z) and yyyy-mm-dd (2011-03-28) formats are
							supported.  The time is assumed to be 00:00Z if omitted.
							If omitted then the transaction fee was posted at the same time as the transaction.
						</xs:documentation>
					</xs:annotation>
				</xs:element>

				<xs:element name="transactionfeeAmount" type="common:Money" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>
							Amount of the transaction fee applied.
						</xs:documentation>
					</xs:annotation>
				</xs:element>

				<xs:element name="transactionFeeCode" type="xs:string" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>
							FI-defined code that identifies the fee in the core system.
						</xs:documentation>
					</xs:annotation>
				</xs:element>

				<xs:element name="transactionFeeDescription" type="xs:string" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>
							FI-defined description for the fee.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="TransactionCategory">
		<xs:restriction base="xs:string">
			<xs:annotation>
				<xs:documentation>
					The default or overridden category for personal financial management.
				</xs:documentation>
			</xs:annotation>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="TransactionCategoryList">
		<xs:annotation>
			<xs:documentation>
				The list of transaction categories that should be returned or affected by a read, update or delete request.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="category" type="TransactionCategory" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						The list of transaction categories that should be returned or affected by a read, update or delete request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="CheckNumber">
		<xs:restriction base="xs:string">
			<xs:annotation>
				<xs:documentation>
					The number on the face of the check indicating the id of that check in a series.
				</xs:documentation>
			</xs:annotation>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="CheckNumberList">
		<xs:annotation>
			<xs:documentation>
				The list of check numbers that should be returned or affected by a read, update or delete request.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="checkNumber" type="CheckNumber" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						The list of check numbers that should be returned or affected by a read, update or delete request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name ="TransactionStatus">
		<xs:annotation>
			<xs:documentation>
				An enumeration of possible statuses for a transaction request.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base ="xs:string">
			<xs:enumeration value ="Posted">
				<xs:annotation>
					<xs:documentation>
						Transaction is posted.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value ="Pending">
				<xs:annotation>
					<xs:documentation>
						Transaction is pending.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value ="Denied">
				<xs:annotation>
					<xs:documentation>
						Transaction was denied.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value ="Void">
				<xs:annotation>
					<xs:documentation>
						Transaction was Voided.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="TransactionStatusList">
		<xs:annotation>
			<xs:documentation>
				The list of transaction statuses that should be returned or affected by a read, update or delete request.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="transactionStatus" type="TransactionStatus" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						The list of transaction statuses that should be returned or affected by a read, update or delete request.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>